body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
padding: 24px 0;
}

.header-contacts {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.header-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}

.header-logo {
    color: #4d5ae5
}

.header-logo-black {
    color: #2e2f42;
}

.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}


.header-address {
    font-style: normal;
}

.header-contacts-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

.block {
    background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
}

.block-text {
        display: block;
            margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.block-button {
        display: block;
            margin: 0 auto;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        cursor: pointer;
        min-width: 169px;
            height: 56px;
            border-radius: 4px;
            border: none;
}

.block-button:hover,
.block-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    display: none;
}

.features {
    display: flex;
    gap: 24px;
        padding-top: 120px;
        padding-bottom: 120px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-item-list {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-item-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
    background-color: #f4f4fd;
}

.team-head {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-top: 120px;
        max-width: 162px;
        margin: 0 auto 72px auto;
}

.team-head-emp {
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
}

.team-head-emp-descr {
    background-color: #FFFFFF
}

.team-head-text {
    padding: 32px 16px;
}

.team-head-emp-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-head-emp-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-top: 120px;
        margin-bottom: 72px;
        }

.portfolio-list {
     display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-bottom: 120px;
}

.portfolio-item {
    background-color: #FFFFFF;
}

.portfolio-item-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-transform: capitalize;
}

.portfolio-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    display: flex;
    padding-top: 100px;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
    padding-bottom: 100px;
    max-width: 264px;
}